{% extends 'base.html' %}
{% block content %}
  <h2>Barcha Postlar</h2>
  {% if user.is_authenticated %}
    <a href="{% url 'add_post' %}">➕ Post qo‘shish</a>
    <form method="post" action="{% url 'logout' %}">{% csrf_token %}<button>Chiqish</button></form>
  {% else %}
    <a href="{% url 'login' %}">Kirish</a> | <a href="{% url 'signup' %}">Ro‘yxatdan o‘tish</a>
  {% endif %}
  <br><br>
  {% for post in object_list %}
    <div class="post">
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
      {% endif %}
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <small>Muallif: {{ post.author }} | Sana: {{ post.created_at|date:"d-m-Y H:i" }}</small>
    </div><br>
  {% endfor %}
{% endblock %}
